<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="icon" href="/lego-man.png" type="image/png" sizes="16x16" />
    <title>Set Collection</title>
  </head>
  <body data-theme="cupcake">
    <!-- NavBar -->
    <%- include('partials/navbar', {page: '/lego/sets'}) %>

    <!-- Main -->
    <div class="container mx-auto">
      <div class="flex justify-center">
        <div role="tablist" class="tabs tabs-boxed w-4/12">
          <a role="tab" class="tab">TECHNIC</a>
          <a role="tab" class="tab tab-active">SUPPLEMENTAL</a>
          <a role="tab" class="tab">CONSTRUCTION</a>
        </div>
      </div>
      <div class="overflow-x-auto">
        <table class="table">
          <!-- head -->
          <thead>
            <tr>
              <th>Name</th>
              <th>Theme</th>
              <th>Year</th>
              <th>Num_parts</th>
            </tr>
          </thead>
          <tbody>
            <!-- row 1 -->
            <% console.log(legoSet)%> <% legoSet.map(set =>{ %>
            <tr>
              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle h-32 w-32">
                      <img src="<%= set.img_url %>" alt="set" />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold"><%= set.name %></div>
                  </div>
                </div>
              </td>
              <td>
                <a
                  class="btn btn-ghost btn-sm uppercase"
                  href="/lego/sets?theme=<%= set.theme %>"
                  ><%= set.theme %></a
                >
                <br />
                <span class="badge badge-ghost badge-sm">
                  <%= set.theme_id %>
                </span>
              </td>
              <td><%= set.year %></td>
              <td><%= set.num_parts %></td>
              <th>
                <a
                  class="btn btn-ghost btn-sm"
                  href="/lego/sets/<%= set.set_num %>"
                  >Details</a
                >
              </th>
            </tr>
            <%}) %>

            <!-- foot -->
          </tbody>

          <tfoot>
            <tr>
              <th>Name</th>
              <th>Theme</th>
              <th>Year</th>
              <th>Num_parts</th>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <!-- Footer -->
    <%- include('partials/footer', {page: '/lego/sets'}) %>
  </body>
</html>
